.landing-interval-label,
.landing-interval-input,
.landing-interval-button {
  box-sizing: border-box;
  height: 40px;
}

.landing-interval-label {
  padding: 7px 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.landing-interval-input {
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.landing-interval-input:focus-visible {
  outline: none;
}

.landing-interval-button {
  cursor: pointer;
  background-color: #ccc;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
