.landing-interval-label,
.landing-interval-input,
.landing-interval-button {
  box-sizing: border-box;
  height: 40px;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 3px solid #ccc;
  border-radius: 4px;
}

.landing-interval-label {
  padding: 7px 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.landing-interval-input {
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.landing-interval-button {
  cursor: pointer;
  background-color: #ccc;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
